.custom-bgc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), #000),
    url("../../../src/Rectangle1.png");
  /* height: 100vh; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
